.mainNews{
    width:624px;
    height:201px;
    font-size:52px;
    font-weight:bold;
    color:#C4160C;
    margin-top:50px;
}.secNews{
    font-size:18px;
}.p1{
    margin-top:10px;
}.img1{
    width:193px;
    height:110px;
}